# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# build cache
/cache
/artifacts

# misc
.env
coverage
coverage.json
.DS_Store

# secret files
*.secret
